<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Lodowka.Properties.Settings.Setting" connectionString="Data Source=WIN-FS0LQTD1JSG\SQLEXPRESS;Initial Catalog=Lodowka;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Lodowka.Properties.Settings.Setting1" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>